
#anchor{
 -fx-background-color : linear-gradient(#2258A1,#757575,#BFBFBF);
}
.title-pane, .title-pane > .label, .menubar
{
	-fx-background-color: #2E2E2E;
	-fx-text-fill: white;
}
.close, .minimize
{
	-fx-border-color: #3D3D3D #3D3D3D #3D3D3D #3D3D3D; 
	-fx-border-radius: 1;
}
.menu-button:hover
{
	-fx-background-color: #F0544C;
}
.menu-button:showing
{
	-fx-background-color: #F0544C;
}
.menu > .label
{
	-fx-text-fill: white;
}
.menu-item
{
	-fx-background-color: #3D3D3D;
}
.menu-item:hover
{
	-fx-background-color: #F0544C;
}
.menu-item .label
{
	-fx-text-fill: white;
}
.context-menu
{
	-fx-background-color: #3D3D3D;
}
/*
	PANE STUFF
*/
.pane, .hbox, .vbox, .content, .text-area
{
	-fx-background-color: #3D3D3D;
	-fx-background-radius: 0;
}
.pane > .label, .text-area, .hbox > .label, .vbox > .label
{
	-fx-text-fill: #B3A9A3;
}
/*
	BUTTON STUFF
*/
.button
{
	-fx-background-radius: 5px;
	-fx-background-color: white;
	-fx-text-fill: #11bc66;
	-fx-min-width: 100px;
	
}


#btnMenu {
	-fx-background-color : rgba(0, 0 , 0, 0.2);
	-fx-background-radius: 2px;	
	-fx-text-fill: rgb(255, 255, 255);
}

#btnMenu:hover {
	-fx-background-color : rgba(255,255,255, 0.5);
	-fx-background-radius: 2px;	
	-fx-text-fill: white;
}


.button:hover
{
	-fx-background-color: rgb(122, 244, 22);
}
.list-view
{
	-fx-background-color: #2E2E2E;
}
.list-view:vertical,  .list-cell
{
	-fx-background-color: #333333;
	-fx-text-fill: white;
	-fx-border-radius: 0;
	-fx-background-insets: 0;

}
.list-cell:hover
{
	-fx-background-color: #F0544C;
}
/*
	TAB STUFF
*/
.tab-pane:top, .tab-header-area
{
	-fx-padding: 0 0 0 0;
}
.focus-indicator
{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}
.headers-region, .tab-header-background
{
	-fx-background-color: transparent;
}
.tab
{
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-background-color: transparent;
}
.tab:hover
{
	-fx-background-color: #454545;
}
.tab:selected
{
	-fx-focus-color: transparent;
	-fx-background-color: transparent;
	-fx-border-color: transparent; 
	-fx-border-radius: 1;
}
.tab-label
{
	-fx-text-fill: white;	
	-fx-padding-right: 1;
}
.tab-close-button
{
	-fx-background-color: #C4C4C4;

}
.table-view
{
	-fx-background-color: #2E2E2E;

	-fx-table-cell-border-color: transparent;
}
.table-view > .column-header-background
{
	-fx-color: #3D3D3D;
	-fx-background-color: #3D3D3D;
	-fx-text-fill: #3D3D3D;
}
.table-view > .column-header-background > .column-drag-header
{
	-fx-background-color: #3D3D3D;
}
.table-view > .column-header-background > .nested-column-header > .column-header
{
	-fx-background-color: #3D3D3D;
	-fx-text-fill: white;
}
.table-view .column-header .label
{
	-fx-text-fill: black;
}
.combo-box
{
	-fx-background-color: white;
	-fx-border-radius: 5px;
	-fx-background-radius: 5;
	-fx-text-fill: black;
}
.text-field
{
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-background-radius: 5;
}
.spinner, .increment-arrow-button, .decrement-arrow-button
{
	-fx-background-color: #2E2E2E;
	-fx-text-fill: white;
	-fx-background-radius: 0;
}
.spinner > .text-field
{
	-fx-background-color: #2E2E2E;
	-fx-text-fill: white;
	-fx-background-radius: 0;
}
.scroll-bar
{
	-fx-background-color: #3D3D3D;
	-fx-color: #2E2E2E;
	-fx-background-radius: 0;
}
.scroll-bar .slider
{
	-fx-background-color: #2E2E2E;
}
.scroll-bar:hover .slider
{
	-fx-background-color: #2E2E2E;
}
.cell
{
	-fx-background-color: #2E2E2E;
	-fx-text-fill: white;
}
.cell:odd
{
	-fx-background-color: #3D3D3D;
}
.cell:hover
{
	-fx-background-color: #454545;
}
.cell:selected
{
	-fx-background-color: #F0544C;
}

.backLocacao
{	
	-fx-image: url('/img/vans2.png');
}
.backLogin
{
	-fx-image: url('/img/login.png');
}
.backDevolucao
{
	-fx-image: url('/img/devolucao2.png');
}
.backCadastroVeiculo
{
	-fx-image: url('/img/carro2.png');
}
.backCadastroFuncionarios
{
	-fx-image: url('/img/cadastro-clientes.png');
	
}
.backBuscar
{
	-fx-image: url('/img/buscar2.png');
}
.backEndereco{
	-fx-image: url('/img/endereco2.png');
}
.backUser
{
	-fx-image: url('/img/user.png');
}
.backKey
{
	-fx-image: url('/img/key2.png');
}